In [24]:
import pandas as pd
import numpy as np

print(np.__version__)
# Question 1
print(pd.__version__)

1.24.3
2.0.3

In [26]:
data = pd.read_csv('master_housing.csv')
# Question 2
data.shape

(20640, 10)

In [15]:
# Question 3
print(data.info())
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [7]:
# Question 4
data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [11]:
# Question 5
data[
    data['ocean_proximity'] == 'NEAR BAY'
].describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,2290.000000,2290.000000,2290.000000,2290.000000,2270.000000,2290.000000,2290.000000,2290.000000,2290.000000
mean,-122.260694,37.801057,37.730131,2493.589520,514.182819,1230.317467,488.616157,4.172885,259212.311790
std,0.147004,0.185434,13.070385,1830.817022,367.887605,885.899035,350.598369,2.017427,122818.537064
min,-122.590000,37.350000,2.000000,8.000000,1.000000,8.000000,1.000000,0.499900,22500.000000
25%,-122.410000,37.730000,29.000000,1431.250000,289.000000,718.250000,275.000000,2.834750,162500.000000
50%,-122.250000,37.790000,39.000000,2083.000000,423.000000,1033.500000,406.000000,3.818650,233800.000000
75%,-122.140000,37.907500,52.000000,3029.750000,628.750000,1495.000000,599.250000,5.054425,345700.000000
max,-122.010000,38.340000,52.000000,18634.000000,3226.000000,8276.000000,3589.000000,15.000100,500001.000000

In [17]:
# Question 6
print(data['total_bedrooms'].describe())
data['total_bedrooms'].fillna(data['total_bedrooms'].mean(), inplace=True)

count    20433.000000
mean       537.870553
std        421.385070
min          1.000000
25%        296.000000
50%        435.000000
75%        647.000000
max       6445.000000
Name: total_bedrooms, dtype: float64

In [19]:
print(data['total_bedrooms'].describe())
print(data['total_bedrooms'].isnull().sum())
# The mean value does not change after filling the missing values

count    20640.000000
mean       537.870553
std        419.266592
min          1.000000
25%        297.000000
50%        438.000000
75%        643.250000
max       6445.000000
Name: total_bedrooms, dtype: float64
0

In [33]:
# Question 7
island = data[data['ocean_proximity'] == 'ISLAND']
x = island[['housing_median_age', 'total_rooms', 'total_bedrooms']]
xtx = np.dot(x.T, x)
xtx_inv = np.linalg.inv(xtx)
y = [950, 1300, 800, 1000, 1300]
w = np.dot(np.dot(xtx_inv, x.T), y)
print(w)
print(w[-1])

[23.12330961 -1.48124183  5.69922946]
5.699229455065586